# simulation results
simulations/results/
simulations/*.vec
simulations/*.vci
simulations/*.sca
simulations/*.elog
simulations/*.anf
simulations/*.out

# generated .qtenvrc files
simulations/**/*.qtenvrc

# build outputs
out/
*.o
*.so
*.a
*.oppbuildspec
*.log
*.bak
*~

# IDE
*.user
*.workspace
*.project

# OS files
.DS_Store
Thumbs.db

# OMNeT++
.cproject
.nedfolders
.oppfeaturestate
.settings/
